check_missing_memory.py
check_mem_preselection_failures.py
transe_dir/*
lucene_dir/*
browse.py
*.pyc
hierarchy_model_old.py*
prepare_data_old/*
prepare_data_backup/*
prepare_data/*
test_codes
hierarchy_model_old.py*
run_test_twostep_old.*
run_model_old.py*
run_old.sh*
copy/*
model_softmax_kvmem/*
obsolete/*
model_softmax_decoder/*
model_softmax_test/*
to_delete.sh
knowledge_graph.py*
