check_missing_memory.py
check_mem_preselection_failures.py
browse.py
*.pyc
hierarchy_model_old.py*
prepare_data_old/*
prepare_data_backup/*
prepare_data/*
test_codes
hierarchy_model_old.py*
run_test_twostep_old.*
run_model_old.py*
run_old.sh*
copy/*
new_model_softmax_kvmem_old3/*
obsolete/*
new_model_softmax_decoder2/*
model_softmax_test/*
to_delete.sh
knowledge_graph.py*
